@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Open+Sans&family=Oswald&family=Ubuntu&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #b1b3c9;
}

.mainPage {
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  flex-wrap: wrap;
  height: 100vh;
}

.navBarContainer {
  display: flex;
  flex: 1 1 1;
  align-items: center;
  justify-content: center;
  background-color: #1B1212;
  border-bottom: #1db954 10px solid;
  align-items: center;
  font-size: 20px;
  width: 100vw;
  height: 100px;
  gap: 3em;
}

.navBar {
  display: flex;
  width: 75vw;
  height: 100px;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.navBar a {
  color: white;
  text-decoration: none;
}

.songSearch {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

.songSearch button {
  height: 4em;
  width: 4em;
  border-radius: 100%;
  border: none;
}

.searchContainer {
  display: flex;
  width: 70em;
  justify-content: center;
  padding-top: 2em;
  gap: 2em;
}

.songSearch input {
  background-color: transparent;
  border: none;
  border-bottom: solid black 1px;
  margin: 0 1em 0 1em;
}

.songSearch input:focus {
  outline: none;
}

.songSearch select {
  background-color: transparent;
  border: none;
  font-size: 1em;
}

.songData {
  padding: 1em;
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr;
  border: #1db954 2px solid;
  border-radius: 5px;
  height: 12em;
}

.profileUserInfo {
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.twoByTwo {
  display: grid;
  width: 20em;
  grid-template-columns: 1fr 3fr;
  grid-row-gap: 1em;
}

.searchResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  width: 50%;
}

.spotifyPlayer {
  background-color: black;
  color: white;
  height: 5em;
  width: 100vw;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.spotifyPlayer button {
  border-radius: 100%;
  height: 3em;
  width: 3em;
  border: none;
}

.track {
  background-color: #1B1212;
  width: 25em;
  display: flex;
  gap: 0.5em;
  border: #1db954 4px solid;
  border-radius: 20px;
  padding: 1em;
}

.trackData {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}

.track:hover {
  cursor: pointer;
}

.track h3 {
  color: #1ed760;
  padding: 0;
  margin: 0 0 0.5em 0;
}

.track h4 {
  color: white;
  padding: 0;
  margin: 0;
  font-weight: 400;
}